.first-photo{
	width:100%;
}
.photo-two{
	height:auto;
	width:80%;
}
.photo-three{
	width:70%;
	height:auto;
}
body{
	background-color:darkblue;
}
p{
	color:black;
	font-size:18px;
}
.deutero{
	text-align:center;
	background-color:yellow;
}
.prwto{
	background-color:yellow;
}

h1{
	font-size: 80px;
	color:white;
	text-align:center;
}
.trito{
	background-color:yellow}
div{
	margin-bottom:60px;
}

.row{
	padding-top:60px;
}